/****** General ***********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --secondary-bg-color: #d9d9d9;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1440px;
  min-width: 320px;
  padding: 0 50px;
  box-sizing: border-box;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  display: flex;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.card-subtitle {
  font-size: 14px;
  margin-top: 0.5rem;
}

.euro {
  font-weight: 700;
}

.neutralStar {
  color: var(--main-bg-color);
}

/****** Header *******/

header {
  display: flex;
  justify-content: space-between;
}

.logo-container {
  width: 3.75rem;
  margin: 2rem 0;
}

.logo {
  width: 100%;
}

.tabs-container {
  display: flex;
  gap: 4.4rem;
}

.tab {
  padding-top: 1rem;
  color: black;
  text-decoration: none;
}
.tab:hover {
  color: var(--main-color);
  border-top: 2px solid var(--main-color);
}

/******* Search Area *******/
.search-container {
  margin-top: 2rem;
}

.search-container .sub-title {
  margin-top: 0.5rem;
}

.search-form {
  display: flex;
  justify-content: flex-between;
  margin-top: 2rem;
  height: 50px;
  width: fit-content;
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid var(--main-bg-color);
}

.location-btn {
  width: 50px;
  padding: 1rem;
  border: none;
  background-color: var(--main-bg-color);
  cursor: pointer;
}
.location-btn i {
  width: 100%;
}

.search-input {
  height: 100%;
  border: none;
  font-weight: bold;
  padding: 0, 1.5rem;
  font-size: 18px;
}

.search-input::placeholder {
  text-align: center;
  font-size: 18px;
  color: black;
  opacity: 1;
}

.search-input:focus::placeholder {
  color: transparent;
  border-color: white;
}

input:focus {
  outline: none;
  text-indent: 1.5rem;
}

.search-btn {
  font-size: 18px;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  height: 100%;
  border: 1px solid var(----main-color);
  position: relative;
  right: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
}

.fa-magnifying-glass {
  display: none;
}

.filters-container {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.filter-btn {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  background-color: white;
  padding: 1rem;
  border: 1px solid var(--secondary-bg-color);
  border-radius: 100px;
}
.filter-btn i {
  margin-right: 0.5rem;
}

.filter-btn:hover {
  background-color: var(--filter-bg-color);
}

.search-result-info-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.info-icon-container {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: serif;
  color: var(--main-color);
  border: 1px solid var(--secondary-bg-color);
  border-radius: 100%;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  margin-top: 2.3rem;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
  height: fit-content;
}

.hebergements-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;
}

.card-link-overlay {
  color: black;
  text-decoration: none;
}

.hebergements-cards .card {
  flex-direction: column;
  width: 250px;
}

.hebergements-cards img {
  width: 100%;
  height: 110px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
  padding: 0.5rem 0.5rem;
}

.hebergements-cards .card-rating {
  margin-top: 0.3rem;
}

.more-btn {
  background-color: inherit;
  border: none;
  font-weight: bold;
  font-size: 18px;
  margin-top: 30px;
  cursor: pointer;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  margin-top: 30px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/******* Activités *******/
.activites {
  margin: 65px auto 0;
  width: fit-content;
  justify-content: space-between;
  margin-top: 2.3rem;
}

.activites-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;
}

.activites-cards .card {
  display: flex;
  flex-direction: column;
  width: 297.5px;
  overflow: hidden;
  padding: 0;
}

.activites-cards img {
  width: 100%;
  height: 380px;
}

.activites-cards h3 {
  padding: 20px;
}

/******* Footer *******/

footer {
  width: 100%;
  background-color: var(--main-bg-color);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
}

footer ul {
  list-style-type: none;
  margin-top: 1rem;
}

footer ul li {
  margin-top: 1rem;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards .card {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .main-container {
    width: 100vw;
    overflow-x: hidden;
  }
  header {
    flex-direction: column;
    padding: 2rem;
  }

  .logo-container {
    margin: auto;
  }

  .tabs-container {
    width: 100%;
  }
  .tab {
    border-bottom: 2px solid var(--main-bg-color);
    padding-bottom: 1rem;
  }

  .tab:hover {
    border-top: none;
    border-bottom: 2px solid var(--main-color);
  }

  .search-btn span {
    display: none;
  }

  .fa-magnifying-glass {
    display: block;
  }
}
